$colour-bg: #21252b;
$colour-fg: #282c34;


body {
  background-color: $colour-bg;
  color: #FFFFFF;
  font-size: 100%;
  font-family: monospace;;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.description {
  background-color: $colour-fg;
  padding: 25px;
  margin-bottom: 25px;
}

.container-tabs {
  width: 100%;
  display: flex;

  // Individual tab.
  .tab {
    display: block;
    flex: 1;
    font-size: 150%;


    padding: 25px;
    width: 50%;
  }

  .active {
    background-color: $colour-fg;
    color: white;
  }

}

.container-tabcontents {

  background-color: $colour-fg;

  display: flex;
  padding: 15px;

  font-size: 110%;

  .iconSection {
    display: block;
    flex: 1;

    width: 33%;
  }
}



.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
